data_directory = '{{ postgres_datadir }}'
hba_file = '{{ postgres_configs }}/pg_hba.conf'
ident_file = '{{ postgres_configs }}/pg_ident.conf'
{% if postgres_version is defined %}
external_pid_file = '/var/run/postgresql/{{ postgres_version }}-main.pid'
{% endif %}

listen_addresses = '{% for address in postgres_listen %}{{ address }}{% if not loop.last %}, {% endif %}{% endfor %}'
port = {{ postgres_port }}
max_connections = {{ postgres_max_connections }}
unix_socket_directories = '/var/run/postgresql,/tmp'
shared_buffers = {{ postgres_shared_buffers }}
work_mem = {{ postgres_work_mem }}
logging_collector = {{ postgres_logging_collector }}
log_filename = 'postgresql-%a.log'
log_truncate_on_rotation = on
log_rotation_age = 1d
log_rotation_size = 0
log_timezone = '{{ postgres_timezone }}'
log_min_duration_statement = {{ postgres_log_min_duration_statement }}
log_lock_waits = {{ postgres_log_lock_waits }}
datestyle = '{{ postgres_datestyle }}'
timezone = '{{ postgres_timezone }}'
lc_messages = '{{ postgres_locale }}'
lc_monetary = '{{ postgres_locale }}'
lc_numeric = '{{ postgres_locale }}'
lc_time = '{{ postgres_locale }}'
default_text_search_config = '{{ postgres_text_search_config }}'
wal_level = {{ postgres_wal_level }}
max_wal_senders = {{ postgres_max_wal_senders }}
checkpoint_segments = {{ postgres_checkpoint_segments }}
