[jamielinux-nginx-stable]
name=Copr repo for nginx-stable owned by jamielinux
baseurl=https://copr-be.cloud.fedoraproject.org/results/jamielinux/nginx-stable/epel-{{ ansible_distribution_major_version }}-$basearch/
skip_if_unavailable=True
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-jamielinux-nginx-stable
enabled=1
