[jamielinux-nginx]
name=jamielinux-nginx
baseurl=http://jamielinux-repo.s3-eu-west-1.amazonaws.com/enterprise/$releasever/nginx/$basearch/
gpgcheck=1
repo_gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-jamielinux-0x9E5A947BAC2932F8
enabled=1
