[jamielinux-nginx-stable]
name=Copr repo for postgresql94 owned by jamielinux
baseurl=https://copr-be.cloud.fedoraproject.org/results/jamielinux/postgresql94/epel-{{ ansible_distribution_major_version }}-$basearch/
skip_if_unavailable=True
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-jamielinux-postgresql94
enabled=1
